@using CarShop.Admin.Models
@model RegisterViewModel
@{
    ViewBag.Title = "CarShop - Kayıt";
    Layout = null;
}

<!doctype html>
<html lang="tr">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link href="/assets/vendor/fonts/circular-std/style.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/libs/css/style.css">
    <link rel="stylesheet" href="/assets/vendor/fonts/fontawesome/css/fontawesome-all.css">
    <style>

        html,
        body {
            height: 100%;
        }

        body {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-align: center;
            align-items: center;
            padding-top: 40px;
            padding-bottom: 40px;
        }
    </style>
</head>
<!-- ============================================================== -->
<!-- signup form  -->
<!-- ============================================================== -->
<body>
    <!-- ============================================================== -->
    <!-- signup form  -->
    <!-- ============================================================== -->
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "splash-container", role = "form" }))
    {
        <div class="card">
            <div class="card-header">
                <h3 class="mb-1">Kayıt Formu</h3>
                <p>Lütfen Kullanıcı Bilgilerinizi Giriniz.</p>
            </div>
            <div class="card-body">


                @Html.AntiForgeryToken()
                <h4>
                    Yeni bir hesap oluştur
                </h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">

                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control ", placeholder = "E-posta", autocomplete = "off" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control ", placeholder = "Parola" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">

                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control ", placeholder = "Parola Doğrula" })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" class="btn btn-primary btn-lg btn-block" value="Kaydet" />
                    </div>
                </div>


            </div>
            @*<div class="card-footer bg-white">
                <p>Kayıtlı Kullanıcı? <a href="@Url.Action("Login","Account")" class="text-secondary">Giriş</a></p>
            </div>*@
        </div>
    }
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

</body>

</html>

