@model IEnumerable<CarShop.Model.ContactPage>
@{
    ViewBag.Title = "Contact";
}

<link rel="stylesheet" type="text/css" href="~/styles/bootstrap4/bootstrap.min.css">
<link href="~/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="~/styles/contact.css">
<link rel="stylesheet" type="text/css" href="~/styles/contact_responsive.css">
<!-- Home -->
<div class="home">
    <div class="home_container">
        <div class="home_background" style="background-image:url(@(ViewBag.AssetsUrl)@Model.FirstOrDefault().ContactPagePhoto)"></div>
        <div class="home_content_container">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="home_content">
                            <div class="breadcrumbs">
                                <ul>
                                    <li><a href="@Url.Action("Index","Home")"><font size="5">Anasayfa</font></a><font size="5">/İletişim</font></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Contact -->

<div class="contact">
    <div class="container">
        <div class="row">

            <!-- Get in touch -->
            <div class="col-lg-8 contact_col">
                <div class="get_in_touch">
                    <div class="section_title">İletişim</div>
                    <div class="section_subtitle">Bizimle iletişime geçin</div>
                    <div class="contact_form_container">
                        <form action="#" id="contact_form" class="contact_form">
                            <div class="row">
                                <div class="col-xl-6">
                                    <!-- Name -->
                                    <label for="contact_name">Ad*</label>
                                    <input type="text" id="contact_name" class="contact_input" required="required">
                                </div>
                                <div class="col-xl-6 last_name_col">
                                    <!-- Last Name -->
                                    <label for="contact_last_name">Soyad*</label>
                                    <input type="text" id="contact_last_name" class="contact_input" required="required">
                                </div>
                            </div>
                            <div>
                                <!-- Subject -->
                                <label for="contact_company">Konu</label>
                                <input type="text" id="contact_company" class="contact_input">
                            </div>
                            <div>
                                <label for="contact_textarea">Mesaj*</label>
                                <textarea id="contact_textarea" class="contact_input contact_textarea" required="required"></textarea>
                            </div>
                            <button class="button contact_button"><span>Gönder</span></button>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Contact Info -->
            <div class="col-lg-3 offset-xl-1 contact_col">
                <div class="contact_info">
                    <div class="contact_info_section">
                        <div class="contact_info_title">Pazarlama</div>
                        <ul>
                            <li>Telefon: <span>@Model.FirstOrDefault().ContactPageMarketingPhone</span></li>
                            <li>Email: <span>@Model.FirstOrDefault().ContactPageMarketingEmail</span></li>
                        </ul>
                    </div>
                    <div class="contact_info_section">
                        <div class="contact_info_title">Nakliye ve İadeler</div>
                        <ul>
                            <li>Telefon: <span>@Model.FirstOrDefault().ContactPageShippingPhone</span></li>
                            <li>Email: <span>@Model.FirstOrDefault().ContactPageShippingEmail</span></li>
                        </ul>
                    </div>
                    <div class="contact_info_section">
                        <div class="contact_info_title">Bilgi</div>
                        <ul>
                            <li>Telefon: <span>@Model.FirstOrDefault().ContactPageInformationPhone</span></li>
                            <li>Email: <span>@Model.FirstOrDefault().ContactPageInformationEmail</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row map_row">
            <div class="col">

                <!-- Google Map -->
                <div class="map">
                    <div id="google_map" class="google_map">
                        <div class="map_container">
                            <div id="map"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script src="~/js/jquery-3.2.1.min.js"></script>
<script src="~/styles/bootstrap4/popper.js"></script>
<script src="~/styles/bootstrap4/bootstrap.min.js"></script>
<script src="~/plugins/greensock/TweenMax.min.js"></script>
<script src="~/plugins/greensock/TimelineMax.min.js"></script>
<script src="~/plugins/scrollmagic/ScrollMagic.min.js"></script>
<script src="~/plugins/greensock/animation.gsap.min.js"></script>
<script src="~/plugins/greensock/ScrollToPlugin.min.js"></script>
<script src="~/plugins/easing/easing.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyCIwF204lFZg1y4kPSIhKaHEXMLYxxuMhA"></script>
<script src="~/js/contact.js"></script>