@model CarShop.Model.About

@{
    /**/

    ViewBag.Title = "Hakkımızda Yazısı Ekle";
}

<h2>İçerik Girme Paneli</h2>
<script src="https://cdn.ckeditor.com/4.11.2/standard/ckeditor.js"></script>
<div class="row">
    <div class="col-md-12">

        @using (Html.BeginForm("Create", "About", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
                                
            <h4>Hakkımızda Sayfası İçerikleri</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.AboutPageHeader,"Hakkımızda Sayfa Başlığı", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.AboutPageHeader, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.AboutPageHeader, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.AboutPageDescription,"Hakkımızda Sayfa İçeriği", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.AboutPageDescription, new { @class = "form-control ckeditor" })
                    @Html.ValidationMessageFor(model => model.AboutPageDescription, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label for="Uploads" class="control-label col-md-2">
                    Hakkımızda Fotoğrafı
                </label>
                <div class="col-md-10">
                    <input type="file" name="Upload" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Oluştur" class="btn btn-primary" />
                </div>
            </div>
        </div>
        }

        <div>
            @Html.ActionLink("Geriye Dön", "Index")
        </div>

        @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
        }
    </div>
</div>