@model IEnumerable<CarShop.Model.Category>

@{
    ViewBag.Title = "Index";
}


<!-- ============================================================== -->
<!-- pageheader  -->
<!-- ============================================================== -->
<h2 class="pageheader-title">Kategoriler</h2>
<div class="page-breadcrumb">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb"></ol>
    </nav>
</div>
<!-- ============================================================== -->
<!-- end pageheader  -->
<!-- ============================================================== -->
<p>
    <button type="button" class="btn btn-success"> @Html.ActionLink("Yeni Kategori Ekle", "Create") </button>

</p>
<table class="table" id="myTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>                               
            <td>
                <a href="@Url.Action("Edit", new { id = item.Id })" class="btn btn-primary btn-xs">Düzenle</a>
                <a href="@Url.Action("Details", new { id = item.Id })" class="btn btn-success btn-xs">Detaylar</a>
                <a href="@Url.Action("Delete", new { id = item.Id })" class="btn btn-danger btn-xs">Sil</a>
            </td>
        </tr>
        }
    </tbody>
</table>
    
