@model CarShop.Model.Location
@{
    ViewBag.Title = "Index";

}
<link rel="stylesheet" type="text/css" href="~/styles/checkout.css">
<link rel="stylesheet" type="text/css" href="~/styles/checkout_responsive.css">

<div class="home">
    <div class="home_container">
        <div class="home_background" style="background-image:url(images/cart.jpg)"></div>
        <div class="home_content_container">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="home_content">
                            <div class="breadcrumbs">
                                <ul>
                                    <li><a href="@Url.Action("Index","Home")">Anasayfa</a></li>                                   
                                    <li>Ödeme</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Checkout -->
@using (Html.BeginForm("Index", "Checkout", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <div class="checkout">
        <div class="container">
            <div class="row">





                <div class="col">
                    <div class="order checkout_section">


                        <div class="section_title">Address</div>
                        <div class="section_subtitle">Adres Bilgileri</div>


                        <div class="checkout_form_container">

                            <div class="row">
                                <div class="col-xl-6">
                                    <!-- Name -->
                                    <label for="checkout_name">İsim</label>
                                    <input type="text" id="checkout_name" name="firstName" class="checkout_input" required="required">
                                </div>
                                <div class="col-xl-6 last_name_col">
                                    <!-- Last Name -->
                                    <label for="checkout_last_name">Soyisim</label>
                                    <input type="text" id="checkout_last_name" name="lastName" class="checkout_input" required="required">
                                </div>
                            </div>

                            <div>
                                <!-- Country -->
                                <div class="form-group">
                                    @Html.LabelFor(model => model.CountryId, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.DropDownList("CountryId", null, "Ülke seçiniz", htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.CountryId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div>
                                    <!-- City / Town -->
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CityId, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.DropDownList("CityId", null, "Şehir seçiniz", htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.CityId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <!-- District -->
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.DistrictId, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.DropDownList("DistrictId", null, "İlçe seçiniz", htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.DistrictId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <!-- Address -->
                                    <label for="checkout_address">Adres</label>
                                    <input type="text" id="checkout_address" name="adress" class="checkout_input" required="required">
                                </div>
                                <div>
                                    <!-- Phone no -->
                                    <label for="checkout_phone">Telefon</label>
                                    <input type="text" id="checkout_phone" name="phone" class="checkout_input" required="required">
                                </div>
                                <div>
                                    <!-- Email -->
                                    <label for="checkout_email">E-posta</label>
                                    <input type="text" id="checkout_email" name="email" class="checkout_input" required="required">
                                </div>
                            </div>

                        </div>


                    </div>
                </div>



                <div class="col">
                    <div class="order checkout_section">


                        <div class="section_title">Siparişler</div>
                        <div class="section_subtitle">Sipariş Detayları</div>


                        <div class="order_list_container">
                            <div class="order_list_bar d-flex flex-row align-items-center justify-content-start">
                                <div class="order_list_title">Ürünler</div>
                                <div class="order_list_value ml-auto">Fiyat</div>
                            </div>
                            @foreach (var item in ViewBag.CurrentOrders)
                            {
                                <ul class="order_list">
                                    <li class="d-flex flex-row align-items-center justify-content-start">
                                        <div class="order_list_title">@item.Piece Adet @item.ProductName</div>
                                        @{

                                            decimal total = @item.Piece * @item.Price;

                                        }
                                        <div class="order_list_value ml-auto">@total TL</div>
                                    </li>
                                    <li class="d-flex flex-row align-items-center justify-content-start">
                                        <div class="order_list_title">Genel Toplam</div>
                                        <div class="order_list_value ml-auto"> TL</div>
                                    </li>
                                </ul>
                            }
                        </div>


                        <div class="payment">
                            <div class="payment_options">
                                <label class="payment_option clearfix">
                                    Kapıda Ödeme
                                    <input type="radio" name="atDelivery">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="payment_option clearfix">
                                    Banka Havalesi
                                    <input type="radio" name="byBankTransfer">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>

                        <div class="order_text"></div>
                        <button type="submit" class="btn btn-success">İleri</button>

                    </div>
                </div>




            </div>
        </div>
    </div>
}



@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            // ülke değiştiğinde..
            $("#CountryId").change(function () {
                LoadCities();
            });
            //Şehir Değiştiğinde
            $("#CityId").change(function () {
                LoadDistricts();
            });

            function LoadCities() {
                // seçili ülkenin şehirleri getir
                $.post("@Url.Action("GetCities")", { countryId: $("#CountryId").val() },
                    function (data) {
                        // gelen şehirleri selecte aktar

                        // önce şehir selectini temizle
                        $("#CityId").empty();
                        $("#CityId").append('<option value="">Şehir seçiniz</option>');
                        // döngüyle gelen şehir datasına şehir selectine ekle
                        $.each(data, function (index, value) {
                            $("#CityId").append('<option value="' + value.Id + '">' + value.Name + '</option>');
                        });
                        LoadDistricts();
                });
            }
            function LoadDistricts() {
                $.post("@Url.Action("GetDistricts")", { cityId: $("#CityId").val() },
                    function (data) {
                        // önce ilçe selectini temizle
                        $("#DistrictId").empty();
                        $("#DistrictId").append('<option value="">İlçe seçiniz</option>');
                        // döngüyle gelen ilçe datasına ilçe selectine ekle
                        $.each(data, function (index, value) {
                            $("#DistrictId").append('<option value="' + value.Id + '">' + value.Name + '</option>');
                        });
                });
            }

        $("#contactForm").submit(function () {
            if ($("#contactForm").valid()) {
                var formData = new FormData($("form")[0]);
                $.ajax({
                    url: "@Url.Action("Contact")",
                    type: "POST",
                    cache: false,
                    dataType: "json",
                    data: formData ? formData : formData.serialize(),
                    processData: false,
                    contentType: false
                }).done(function (data) {
                        if (data.success == true) {
                            alert("İşlem başarılı");
                        } else {
                            alert(data.message);
                        }
                });
            }
        });

    });
    </script>
}

