<!doctype html>
<html lang="tr">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/assets/vendor/charts/morris-bundle/morris.css">
    <link rel="stylesheet" href="/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link href="/assets/vendor/fonts/circular-std/style.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/libs/css/style.css">
    <link rel="stylesheet" href="/assets/vendor/fonts/fontawesome/css/fontawesome-all.css">
    <link rel="stylesheet" href="/assets/vendor/charts/chartist-bundle/chartist.css">
    <link rel="stylesheet" href="/assets/vendor/fonts/material-design-iconic-font/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/assets/vendor/charts/c3charts/c3.css">
    <link rel="stylesheet" href="/assets/vendor/fonts/flag-icon-css/flag-icon.min.css">
    <link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
    <title>@ViewBag.Title - CarShop</title>
</head>
<body>
    <!-- ============================================================== -->
    <!-- main wrapper -->
    <!-- ============================================================== -->
    <div class="dashboard-main-wrapper">
        <!-- ============================================================== -->
        <!-- navbar -->
        <!-- ============================================================== -->
        <div class="dashboard-header">
            <nav class="navbar navbar-expand-lg bg-white fixed-top">
                <a class="navbar-brand" href="/home/index">CarShop</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        @*@using (Html.BeginForm("Index", "Search", FormMethod.Get, new { @style = "display: inherit" }))
                            {
                                <li class="nav-item">
                                    <div id="custom-search" class="top-search-bar">
                                        @Html.TextBox("name", null, new { @class = "form-control", placeholder = "Arama.." })
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <div id="custom-search" class="top-search-bar">
                                        <button class="btn-info btn-sm" type="submit">Ara</button>
                                    </div>
                                </li>
                            }*@
                        @*<li class="nav-item dropdown notification" style="margin-top: 15px;">
                            <a class="nav-link nav-icons" href="#" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-fw fa-bell"></i> <span class="indicator"></span></a>*@
                        @*<ul class="dropdown-menu dropdown-menu-right notification-dropdown">
                                <li>
                                    <div class="notification-title"> Bildirimler</div>
                                    <div class="notification-list">
                                        @foreach (var item in ViewBag.Notification)
                                        {

                                            <div class="list-group">
                                                <a href="#" class="list-group-item list-group-item-action active">
                                                    <div class="notification-info">
                                                        <div class="notification-list-user-img"><img src="/assets/images/avatar-2.jpg" alt="" class="user-avatar-md rounded-circle"></div>
                                                        <div class="notification-list-user-block">
                                                            <span class="notification-list-user-name">Jeremy Rakestraw</span> @item.Message
                                                            <div class="notification-date">2 min ago</div>
                                                        </div>
                                                    </div>
                                                </a>


                                            </div>
                                        }
                                    </div>
                                </li>
                                <li>
                                    <div class="list-footer"> <a href="#">View all notifications</a></div>
                                </li>
                            </ul>*@
                        @*</li>*@

                        <li class="nav-item dropdown nav-user">
                            <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="/assets/images/avatar-1.jpg" alt="" class="user-avatar-md rounded-circle"</a>
                            <div class="dropdown-menu dropdown-menu-right nav-user-dropdown" aria-labelledby="navbarDropdownMenuLink2">
                                @*<div class="nav-user-info">

                                        @if (@ViewBag.CurrentUser != null)
                                        {
                                            <h5 class="mb-0 text-white nav-user-name">@ViewBag.CurrentUser</h5>

                                        }
                                        else
                                        {
                                            <span class="status"></span><span class="ml-2">Lütfen tam isminizi giriniz.</span>
                                        }

                                    </div>*@
                                <a class="dropdown-item" href="@Url.Action("Index","Manage")"><i class="fas fa-user mr-2"></i>Hesabım</a>
                                <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()"><i class="fas fa-power-off mr-2"></i>Çıkış</a>
                            </div>
                            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                            {
                                @Html.AntiForgeryToken()

                            }
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- ============================================================== -->
        <!-- end navbar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- left sidebar -->
        <!-- ============================================================== -->
        <div class="nav-left-sidebar sidebar-dark">
            <div class="menu-list">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="d-xl-none d-lg-none" href="#">Dashboard</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav flex-column">
                            <li class="nav-divider">
                                Menu
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link @(ViewContext.RouteData.Values["controller"].ToString() == "Home"?"active":"")" href="@Url.Action("Index","Home")"><i class="fa fa-home"></i>Anasayfa</a>
                            </li>

                            <li class="nav-item ">
                                <a class="nav-link @(ViewContext.RouteData.Values["controller"].ToString() == "Category"?"active":"")" href="@Url.Action("Index","Category")"><i class="fa fa-th-list"></i>Kategoriler</a>

                            </li>

                            <li class="nav-item">
                                <a class="nav-link @(ViewContext.RouteData.Values["controller"].ToString() == "Product"?"active":"")" href="@Url.Action("Index","Product")"><i class="fa fa-tags"></i>Ürünler</a>

                            </li>

                            <li class="nav-item">
                                <a class="nav-link @(ViewContext.RouteData.Values["controller"].ToString() == "ApplicationUser"?"active":"")" href="@Url.Action("Index","Order")"><i class="fa fa-shopping-cart"></i>Siparişler</a>

                            </li>

                            @*<li class="nav-item">
                                    <a class="nav-link @(ViewContext.RouteData.Values["controller"].ToString() == "ApplicationUser"?"active":"")" href="@Url.Action("Index","ApplicationUser")"><i class="fa fa-envelope"></i>Geri Bildirim</a>

                                </li>*@

                            <li class="nav-item">
                                <a class="nav-link @(ViewContext.RouteData.Values["controller"].ToString() == "ApplicationUser"?"active":"")" href="@Url.Action("Index","ApplicationUser")"><i class="fa fa-user-circle"></i>Kullanıcılar</a>

                            </li>

                            <li class="nav-divider">
                                Sayfa Düzenlemeleri
                            </li>
                            <li class="nav-item">
                                <a class="nav-link @(ViewContext.RouteData.Values["controller"].ToString() == "MainPage"?"active":"")" href="@Url.Action("Index","MainPage")"><i class="fa fa-pen-square"></i>AnaSayfa</a>

                            </li>
                            <li class="nav-item">
                                <a class="nav-link @(ViewContext.RouteData.Values["controller"].ToString() == "PageContent"?"active":"")" href="@Url.Action("Index","About")"><i class="fa fa-pen-square"></i>Hakkımızda</a>

                            </li>
                            <li class="nav-item">
                                <a class="nav-link @(ViewContext.RouteData.Values["controller"].ToString() == "ContactPage"?"active":"")" href="@Url.Action("Index","ContactPage")"><i class="fa fa-pen-square"></i>İletişim</a>

                            </li>


                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end left sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- wrapper  -->
        <!-- ============================================================== -->
        <div class="dashboard-wrapper">
            <div class="dashboard-ecommerce">
                <div class="container-fluid dashboard-content ">
                    @RenderBody()
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <div class="footer" style="position: absolute; bottom: 0; width: 100%; height: 60px;">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                            Copyright © 2018 Concept. All rights reserved. Dashboard by <a href="https://colorlib.com/wp/">Colorlib</a>.
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="text-md-right footer-links d-none d-sm-block">
                                <a href="javascript: void(0);">About</a>
                                <a href="javascript: void(0);">Support</a>
                                <a href="javascript: void(0);">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- end footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- end wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- end main wrapper  -->
    <!-- ============================================================== -->
    <!-- Optional JavaScript -->
    <!-- chart chartist js -->
    <script src="/assets/vendor/charts/chartist-bundle/chartist.min.js"></script>
    <!-- sparkline js -->
    <script src="/assets/vendor/charts/sparkline/jquery.sparkline.js"></script>
    <!-- morris js -->
    <script src="/assets/vendor/charts/morris-bundle/raphael.min.js"></script>
    <script src="/assets/vendor/charts/morris-bundle/morris.js"></script>
    <!-- chart c3 js -->
    <script src="/assets/vendor/charts/c3charts/c3.min.js"></script>
    <script src="/assets/vendor/charts/c3charts/d3-5.4.0.min.js"></script>
    <script src="/assets/vendor/charts/c3charts/C3chartjs.js"></script>
    <script src="/assets/libs/js/dashboard-ecommerce.js"></script>

    <!-- jquery 3.3.1 -->
    <script src="/assets/vendor/jquery/jquery-3.3.1.min.js"></script>
    <!-- bootstap bundle js -->
    <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <!-- slimscroll js -->
    <script src="/assets/vendor/slimscroll/jquery.slimscroll.js"></script>
    <!-- main js -->
    <script src="/assets/libs/js/main-js.js"></script>

    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Turkish.json"
                }
            });
        });
    </script>


    @RenderSection("scripts", required: false)
    @RenderSection("sparklineRevenueScripts", required: false)
</body>

</html>